body {
    font-family: 'Playfair Display', serif;
}

#home,
#research,
#blog,
#about,
#map {
    min-height: 100vh;
    width: 100%;
    margin: 0%;
}

#home {
    background-image: url(../img/home.webp);
    background-size: cover;
  background-position: center;
}

#doctor-img {
    max-height: 90vh;
}

#blog-img {
    max-width: 100%;
    height: auto;
}

.footer-logo {
    max-height: 20vh;
    max-width: 80vw;
}

.questionnaire-form {
    min-height: 90vh;
}

.zoom {
    transition: transform ease-out 1s;
}

.zoom:hover {
    transform: scale(1.05);
}

#invalidMessage {
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    display: none;
}

em {
    color: red;
    font-style: normal;
}
